<!DOCTYPE html>
<html>
<% include ../partials/_head %>

	<body>
		<div class="container">
			<% include ../partials/_navbar %>
			<div class="row justify-content-center">
				<main>
					<h2>Gallery</h2>
						<% for (let i = 0; i < photos.length; i++) { %>
							<div class="card" style="width: 18rem;">
								<img class="card-img-top" src="<%= photos[i].url %>" alt="Card image cap">
								<div class="card-body">
									<h5 class="card-title"><a href="/photos/<%= photos[i].id %>"><%= photos[i].title %> </a></h5>
								</div>
							</div>
						<% } %>
				</main>
			</div>
		</div>
			<% include ../partials/_js_bs %>
	</body>

</html>