<!DOCTYPE html>
<html>
<% include ../partials/_head %>

	<body>
		<div class="container">
			<% include ../partials/_navbar %>
			<div class="row">
			<div class="col-sm">
			</div>
			<div class="col-sm">
				<main>
					<h2>List of Photos</h2>
					<div class="list-group">
						<% for (let i = 0; i < photos.length; i++) { %>
							<a href="/photos/<%= photos[i].id %>" class="list-group-item list-group-item-action"><small>Title: </small><%= photos[i].title %> | <small>Url: </small> <%= photos[i].url %></a>
							<a href="/photos/<%= photos[i].id %>/edit"><button>Edit</button></a>
						<% } %>
					</div>
				</main>
			</div>
			<div class="col-sm">
			</div>
		</div>
			<% include ../partials/_js_bs %>
	</body>

</html>