<!DOCTYPE html>
<html>
<% include ../partials/_head %>

	<body>
		<div class="container">
			<% include ../partials/_navbar %>
				<div class="row">
					<div class="col-sm">
					</div>
					<div class="col-sm">
						<main>
							<h1> Photo Details Page</h1>
							<section>
								<%= photo.title %> <br/>
								<%= photo.url %> <br/>
								<%= user.userName %> <br/>
							</section>
							
							<section>
								<-- Set Up delete form here ->
									<form action="/photos/<%=photo.id%>?_method=DELETE" method="POST">
										<input type="submit" value="Delete Article" />
									</form>
							</section>
						</main>
					</div>
					<div class="col-sm">
					</div>
				</div>
				<% include ../partials/_js_bs %>
	</body>

</html>