<!DOCTYPE html>
<html>
<head>
  <title></title>
</head>
<body>

  <h4>Login</h4>

  <form action="/security/login" method="POST">

    Username: <input type="text" name="username" placeholder="username"><br>

    Password: <input type="password" name="password" placeholder="password"><br>

    <button type="submit">Login</button>
  </form>



</body>
</html>