<% include ../partials/_header %>

<div class="container">
	<div class="row">
		<div class="col-xs-12">
			<h1>Photo Drop</h1>
			<h2>A place for photographers and enthusiasts to share and colaborate</h2>
		</div>
	</div>
	<div class="row">
		<div class="col-xs-12">
			<button><a href="/photos/new">Create a New Post!</a></button>
		</div>
	</div>
	<div class="row">
		<div class="col-xs-12">
			<% for (let i = 0; i < photos.length; i++) { %>
			<li><a href="/photos/<%= photos[i]._id %>"><img src="<%= photos[i].img%>"></a></li>
			<% } %>
		</div>
	</div>
</div>	

<% include ../partials/_footer %>