<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
	<header>
		<h1>Photo Drop</h1>
		<h2>A place for photographers and enthusiasts to share and colab</h2>
		<nav>
			<button><a href="photos/new">New Post!</a></button>
			<button><a href="/users">All Contributers</a></button>
			<button><a href="">All Submissions</a></button>
		</nav>
	</header>
	<main>
		<% for (let i = 0; i < photos.length; i++) { %>
		
		<% } %>
	</main>
</body>
</html>