<% include ../partials/_header %>

<div class="container">
	<div class="row">
		<div class="col-xs-12">
			<h1>Photo Drop</h1>
			<h2>A place for photographers and enthusiasts to share and colab</h2>
		</div>
	</div>
	<div class="row">
		<div class="col-xs-12">
			<% for (let i = 0; i < photos.length; i++) { %>
			<% } %>
		</div>
	</div>
</div>	

<% include ../partials/_footer %>