<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <header>
      <h1>Create an Photo</h1>
      <nav>
        <ul>
          <li>
            <a href="/">Home</a>
          </li>
          <li>
            <a href="/photos">Photos Index</a>
          </li>
        </ul>
      </nav>
    </header>
    <main>
      <form action="/photos" method="POST">
        <select name="userId">
          <% for( let i=0; i < users.length; i++){%>
            <option value="<%=users[i].id%>"><%=users[i].name%></option>
          <% }%>
        </select><br/>

        <input type="text" name="title" placeholder="title" /><br/>
        
        <input type="text" name="url" placeholder="enter url"/>
        
        <input type="submit" value="Publish Photos"/>
      </form>
    </main>
  </body>
</html>