<% include ../partials/_header %>

<div class="container">
	<div class="row">
		<div class="col-xs-12">
			<h1>Posted by Username</h1>
		</div>
	</div>
	<div class="row">
		<div class="col-xs-12">
			<p><%= photo.about %></p>
		</div>
	</div>
	<div class="row">
		<div class="col-xs-12">
			<img src="<%= photo.img %>">
		</div>
	</div>
	<div class="row">
		<div class="col-xs-6">
			<button><a href="/photos/<%= photo.id %>/edit">Edit My Post</a></button>
		</div>
		<div class="col-xs-6">
			<form method="POST" action="/photos/<%= photo.id %>?_method=DELETE">
				<input type="submit" value="Delete My Post">
			</form>
		</div>
	</div>
</div>	

<% include ../partials/_footer %>