<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
	<header>
		<h1>Welcome to the Happy Photo Kitty Picture Page!!</h1>

		<nav>
			<ul>
				<li><a href="/users">Home</a></li>		
				<li><a href="/">Add your info!</a></li>
			</ul>
		</nav>
	</header>
</body>
</html>