<!DOCTYPE html>
<html>
<head>
  <title></title>
</head>
<body>
  <header>
    <h1>Welcome to Happy Fun Time Picture Page!</h1>

    <nav>
      <ul>
        <li><a href="/users">Users</a></li>
        <li><a href="/photos">Photos</a></li>
      </ul>
    </nav>
  </header>
</body>
</html>