<!DOCTYPE html>
<html>
<head>
	<title>HomePage</title>
</head>
<body>
	<header>
		<nav>
			<a href="/">Home</a>
			<a href="/users">User Profiles</a>
			<a href="/posts">Gallery</a>
		</nav>
			<h1>Welcome to Photo-Booth ++</h1>
			<h2>Click the button below to start a new user profile.</h2>
		
	</header>
	<main>
		<section><a href="/users/new">Create a new profile</a></section>
	</main>
</body>
</html>