<% include partials/_header %>
	
<div class="container">
	<div class="row">
		<div class="col-xs-12">
			<header>
				<h1>Welcome to Photo Drop</h1>
			</header>
		</div>
	</div>
	<div class="row">
		<div class="col-xs-6">
			<a class="btn btn-primary" href="/users" role="button">Our Talented Photographers</a>
		</div>
		<div class="col-xs-6">
			<a class="btn btn-primary" href="/photos" role="button">Photos</a>
		</div>
	</div>
</div>

<% include partials/_footer %>