<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
	<header>
		<h1>Welcome to Photo Drop</h1>
		<nav>
			<ul>
				<li><a href="users">Users</a></li>
				<li><a href="photos">Photos</a></li>
			</ul>
		</nav>
	</header>

</body>
</html>