<!DOCTYPE html>
<html>
<head>
	<title>User's HomePage</title>
</head>
<body>
	<header>
		<h1>User's HomePage</h1>
		<nav>
			<a href="/">Home</a>
		</nav>
	</header>
	<ul>
		<% for (let i = 0; i < users.length; i++) { %>
		<li><%=users[i].name%></li>
		<a href="users/<%=users[i].id%>">Click for user page</a>
		<%}%>
	</ul>

</body>
</html>