<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
	<header>
		<h1>Welcome to Photo Drop!</h1>
		<button><a href="/">Home</a></button>
	</header>
	<br>

	<section>
		<form>
			<input type="text" name="username">
			<input type="text" name="password">
			<input type="submit" value="Create User">
		</form>
	</section>

</body>
</html>