<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
	<header>
		<h1>New Users Bitches!</h1>
			<nav>
				<ul>
					<li><a href="/">Home</a></li>
					<li><a href="/users">User Index</a></li>
				</ul>
			</nav>
	</header>
	<main>
		<form action="/users" method="POST">
			<input type="text" name="name"><br/>
			<input type="text" name="password"><br/>
			<button type="submit">Submit</button>
		</form>
	</main>
</body>
</html>