<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
	<header>
		<h1>The Show Page Bitches!</h1>
		<nav>
			<ul>
				<li><a href="/">Home</a></li>
				<li><a href="/users">Users Index</a></li>
			</ul>
		</nav>
	</header>
	<main>
		<section>
			<h2>User Info</h2>
			<ul>
				<li>Name: <%=user.name%></li>
			</ul>
		</section>
		<section>
			<li>Password: <%=user.password %></li>
		</section>
		<section>
			<form action="/users/<%=user.id%>?_method=DELETE" method="POST">
				<button type="submit">Delete user</button>
			</form>
		</section>
	</main>
</body>
</html>