<% include ../partials/_header %>

<div class="container">
	<div class="row">
		<div class="col-xs-12">
			<h1><%= user.username %></h1>
		</div>
	</div>
	<div class="row">
		<div class="col-xs-12">
			//User's photos will go here, eventually
		</div>
	</div>
	<div class="row">
		<div class="col-xs-6">
			<button><a href="/users/<%= user.id %>/edit">Edit My Info</a></button>
		</div>
		<div class="col-xs-6">
			<form method="POST" action="/users/<%= user.id %>?_method=DELETE">
				<input type="submit" value="Delete My Info">
			</form>
		</div>
	</div>
</div>
	
<% include ../partials/_footer %>