<!DOCTYPE html>
<html>
<head>
	<title>User's HomePage</title>
</head>
<body>
	<header>
		<h1>User's HomePage</h1>
		<nav>
			<a href="/">Home</a>
		</nav>
	</header>
	<ul>
		<% for (let i = 0; i < posts.length; i++) { %>
		<li><%=posts[i].title%></li>
		<img src="posts[i].url">
		<%}%>
	</ul>

</body>
</html>