<!DOCTYPE html>
<html>
<head>
	<title>User Gallery</title>
</head>
<body>
	<h1><%=user.name%></h1>
	<header>
		<nav>
			<a href="/">Home</a>
		</nav>
	</header>
	<main>
		<section>
			<%for (let i = 0; i < user.posts.length; i++) {%>
			<img src="<%=user.posts[i].url%>">
			<%}%>
		</section>
		<section>
			<a href="/posts/<%=post_.id%>/edit">Edit Photo</a>
			<form method="POST" action="/posts/<%=post_.id%>?_method=DELETE">
				<button type="submit" value="Delete Post">Delete</button>
			</form>		
		</section>
	</main>
</body>
</html>